{
  "overrides": [
    {
      "customSyntax": "@stylelint/postcss-css-in-js",
      "files": ["**/*.styles.ts"]
    }
  ],
  "extends": [
    "stylelint-config-standard",
    "stylelint-config-prettier",
    "stylelint-config-idiomatic-order"
  ],
  "rules": {
    "value-keyword-case": null,
    "declaration-empty-line-before": null,
    "no-duplicate-selectors": null,
    "rule-empty-line-before": null,
    "function-no-unknown": null,
    "length-zero-no-unit": true,
    "unit-no-unknown": [
      true,
      {
        "ignoreUnits": [";"]
      }
    ],
    "font-family-no-missing-generic-family-keyword": [
      true,
      {
        "ignoreFontFamilies": ["Iropke Batang", "Roboto"]
      }
    ],
    "function-name-case": null
  }
}